@model CourseProject.Models.Instructor
@{ int counter = 0;}
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Name" />

    @foreach (var item in Model.Courses)
    {
        <div class="row my-2">
            <input type="hidden" name="Courses[@counter].Id" value="@item.Id" />
            <input type="hidden" name="Courses[@counter].Description" value="@item.Description" />
            <input type="hidden" name="Courses[@counter].isActive" @(Html.Raw(item.isActive ? "value=\"true\"" : "value=\"false\"")) />
            <input type="hidden" class="form-control" name="Courses[@counter].Name" value="@item.Name" />
            <input type="hidden" class="form-control" name="Courses[@counter].Price" value="@item.Price" />

        </div>
        { counter++; }
    }
        <div class="row my-2">
               <div class="col">
                <input type="text" class="form-control" name="Courses[@counter].Name"/>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="Courses[@counter].Price"/>
            </div>
        </div>

    <div class="row mt-2">
        <div class="col text-center">
            <button type="submit" class="btn btn-success">Submit</button>
            <a asp-action="Index" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>